template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: Job Hunt API — FastAPI on Lambda (container image with tectonic)

Globals:
  Function:
    Timeout: 900
    MemorySize: 1024

Parameters:
  GroqApiKey:
    Type: String
    NoEcho: true
  OpenRouterApiKey:
    Type: String
    NoEcho: true
  QwenApiKey:
    Type: String
    NoEcho: true
    Default: ""
  NvidiaApiKey:
    Type: String
    NoEcho: true
    Default: ""
  GoogleCredentialsJson:
    Type: String
    NoEcho: true
  SupabaseUrl:
    Type: String
  SupabaseServiceKey:
    Type: String
    NoEcho: true
  SupabaseJwtSecret:
    Type: String
    NoEcho: true
  SerperApiKey:
    Type: String
    NoEcho: true
    Default: ""
  ApifyApiKey:
    Type: String
    NoEcho: true
    Default: ""
  CapSolverApiKey:
    Type: String
    NoEcho: true
    Default: ""
  BrowserSubnetIds:
    Type: CommaDelimitedList
    Description: Public subnet IDs for Fargate browser tasks (discover via aws ec2 describe-subnets)
    Default: ""

Resources:

  # --- SQS Task Queue ---
  TaskQueue:
    Type: AWS::SQS::Queue
    Properties:
      VisibilityTimeout: 5400
      MessageRetentionPeriod: 86400
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt TaskDLQ.Arn
        maxReceiveCount: 3

  # --- SQS Dead Letter Queue ---
  TaskDLQ:
    Type: AWS::SQS::Queue
    Properties:
      MessageRetentionPeriod: 1209600

  # --- Lambda Layer (Shared Python Dependencies) ---
  SharedDepsLayer:
    Type: AWS::Serverless::LayerVersion
    Properties:
      LayerName: naukribaba-shared-deps
      ContentUri: layer/
      CompatibleRuntimes:
        - python3.11

  # --- Lambda Layer (Tectonic static binary for PDF compilation) ---
  TectonicLayer:
    Type: AWS::Serverless::LayerVersion
    Properties:
      LayerName: naukribaba-tectonic
      ContentUri: layer-tectonic/
      CompatibleRuntimes:
        - python3.11

  # --- Scraper Lambda Functions ---
  ScrapeApifyFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-scrape-apify
      CodeUri: lambdas/scrapers/
      Handler: scrape_apify.handler
      Runtime: python3.11
      Timeout: 600
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  ScrapeAdzunaFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-scrape-adzuna
      CodeUri: lambdas/scrapers/
      Handler: scrape_adzuna.handler
      Runtime: python3.11
      Timeout: 120
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  ScrapeHNFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-scrape-hn
      CodeUri: lambdas/scrapers/
      Handler: scrape_hn.handler
      Runtime: python3.11
      Timeout: 120
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  ScrapeYCFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-scrape-yc
      CodeUri: lambdas/scrapers/
      Handler: scrape_yc.handler
      Runtime: python3.11
      Timeout: 120
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  # --- New Web Unlocker scrapers (Phase 2.5) ---

  ScrapeLinkedInFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-scrape-linkedin
      CodeUri: lambdas/scrapers/
      Handler: scrape_linkedin.handler
      Runtime: python3.11
      Timeout: 300
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  ScrapeIndeedFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-scrape-indeed
      CodeUri: lambdas/scrapers/
      Handler: scrape_indeed.handler
      Runtime: python3.11
      Timeout: 300
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  ScrapeGlassdoorFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-scrape-glassdoor
      CodeUri: lambdas/scrapers/
      Handler: scrape_glassdoor.handler
      Runtime: python3.11
      Timeout: 300
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  ScrapeIrishFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-scrape-irish
      CodeUri: lambdas/scrapers/
      Handler: scrape_irish.handler
      Runtime: python3.11
      Timeout: 300
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  ScrapeGreenhouseFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-scrape-greenhouse
      CodeUri: lambdas/scrapers/
      Handler: scrape_greenhouse.handler
      Runtime: python3.11
      Timeout: 120
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  ScrapeAshbyFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-scrape-ashby
      CodeUri: lambdas/scrapers/
      Handler: scrape_ashby.handler
      Runtime: python3.11
      Timeout: 120
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  ScrapeContactsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-scrape-contacts
      CodeUri: lambdas/scrapers/
      Handler: scrape_contacts.handler
      Runtime: python3.11
      Timeout: 300
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  # --- Pipeline Lambda Functions ---
  LoadConfigFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-load-config
      CodeUri: lambdas/pipeline/
      Handler: load_config.handler
      Runtime: python3.11
      Timeout: 60
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  MergeDedupFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-merge-dedup
      CodeUri: lambdas/pipeline/
      Handler: merge_dedup.handler
      Runtime: python3.11
      Timeout: 300
      MemorySize: 512
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  ScoreBatchFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-score-batch
      CodeUri: lambdas/pipeline/
      Handler: score_batch.handler
      Runtime: python3.11
      Timeout: 900
      MemorySize: 512
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  ChunkHashesFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-chunk-hashes
      CodeUri: lambdas/pipeline/
      Handler: chunk_hashes.handler
      Runtime: python3.11
      Timeout: 10
      MemorySize: 128

  AggregateScoresFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-aggregate-scores
      CodeUri: lambdas/pipeline/
      Handler: aggregate_scores.handler
      Runtime: python3.11
      Timeout: 30
      MemorySize: 256

  TailorResumeFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-tailor-resume
      CodeUri: lambdas/pipeline/
      Handler: tailor_resume.handler
      Runtime: python3.11
      Timeout: 600
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*
        - S3CrudPolicy:
            BucketName: utkarsh-job-hunt

  CompileLatexFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-compile-latex
      CodeUri: lambdas/pipeline/
      Handler: compile_latex.handler
      Runtime: python3.11
      Timeout: 60
      MemorySize: 512
      Layers: [!Ref SharedDepsLayer, !Ref TectonicLayer]
      Policies:
        - S3CrudPolicy:
            BucketName: utkarsh-job-hunt
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  GenerateCoverLetterFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-generate-cover-letter
      CodeUri: lambdas/pipeline/
      Handler: generate_cover_letter.handler
      Runtime: python3.11
      Timeout: 600
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*
        - S3CrudPolicy:
            BucketName: utkarsh-job-hunt

  FindContactsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-find-contacts
      CodeUri: lambdas/pipeline/
      Handler: find_contacts.handler
      Runtime: python3.11
      Timeout: 120
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  SaveJobFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-save-job
      CodeUri: lambdas/pipeline/
      Handler: save_job.handler
      Runtime: python3.11
      Timeout: 300
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*
        - S3CrudPolicy:
            BucketName: utkarsh-job-hunt

  SaveMetricsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-save-metrics
      CodeUri: lambdas/pipeline/
      Handler: save_metrics.handler
      Runtime: python3.11
      Timeout: 60
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  SendEmailFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-send-email
      CodeUri: lambdas/pipeline/
      Handler: send_email.handler
      Runtime: python3.11
      Timeout: 60
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  PostScoreFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-post-score
      CodeUri: lambdas/pipeline/
      Handler: post_score.handler
      Runtime: python3.11
      Timeout: 300
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*
        - S3CrudPolicy:
            BucketName: utkarsh-job-hunt

  SelfImproveFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-self-improve
      CodeUri: lambdas/pipeline/
      Handler: self_improve.handler
      Runtime: python3.11
      Timeout: 300
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Environment:
        Variables:
          NOTIFY_ERROR_FUNCTION: !Ref NotifyErrorFunction
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*
        - LambdaInvokePolicy:
            FunctionName: naukribaba-notify-error

  NotifyErrorFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-notify-error
      CodeUri: lambdas/pipeline/
      Handler: notify_error.handler
      Runtime: python3.11
      Timeout: 60
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  CheckExpiryFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-check-expiry
      CodeUri: lambdas/pipeline/
      Handler: check_expiry.handler
      Runtime: python3.11
      Timeout: 120
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  # --- Stale Nudge + Follow-Up Reminder Lambdas ---
  StaleNudgeFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-stale-nudges
      CodeUri: lambdas/pipeline/
      Handler: send_stale_nudges.handler
      Runtime: python3.11
      Timeout: 60
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  FollowUpReminderFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-followup-reminders
      CodeUri: lambdas/pipeline/
      Handler: send_followup_reminders.handler
      Runtime: python3.11
      Timeout: 60
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: naukribaba/*

  # --- ECS Cluster for Playwright Scrapers (Fargate Spot) ---
  ScraperCluster:
    Type: AWS::ECS::Cluster
    Properties:
      ClusterName: naukribaba-scrapers
      CapacityProviders:
        - FARGATE_SPOT
        - FARGATE
      DefaultCapacityProviderStrategy:
        - CapacityProvider: FARGATE_SPOT
          Weight: 1
        - CapacityProvider: FARGATE
          Weight: 0
          Base: 0

  # ─────────────────────────────────────────────────────────────────────
  # DORMANT: Fargate / Playwright / Scrapling infrastructure
  #
  # Originally built for Phase 2.5 to run browser-based scrapers in ECS
  # Fargate containers using Scrapling (headless Chromium).
  #
  # SUPERSEDED by Bright Data Web Unlocker (Apr 1, 2026):
  #   - Web Unlocker handles all anti-bot (CAPTCHAs, fingerprints, sessions)
  #   - Plain httpx + Web Unlocker proxy on Lambda is sufficient
  #   - LinkedIn returned 180 job cards with zero blocks — no browser needed
  #   - Cost: ~$1.50/1k requests vs Fargate compute + ECR storage
  #
  # Kept as fallback if Web Unlocker ever becomes insufficient.
  # The active scrapers are the ScrapeLinkedIn/Indeed/Glassdoor/Irish
  # Lambda functions above, using httpx + Web Unlocker proxy.
  #
  # Related code: scrapers/playwright/, Dockerfile.playwright,
  #               requirements-playwright.txt
  # ─────────────────────────────────────────────────────────────────────

  ScraperLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/naukribaba-scrapers
      RetentionInDays: 14

  ScraperSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Fargate scraper tasks - all outbound
      VpcId: vpc-0bfb7f8052eb3968b
      SecurityGroupEgress:
        - IpProtocol: -1
          CidrIp: 0.0.0.0/0

  FargateExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: naukribaba-fargate-execution
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: ecs-tasks.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AmazonECSTaskExecutionRolePolicy
      Policies:
        - PolicyName: SSMSecretsAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ssm:GetParameters
                Resource:
                  - !Sub "arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/naukribaba/*"

  FargateTaskRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: naukribaba-fargate-task
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: ecs-tasks.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: SSMReadOnly
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ssm:GetParameter
                  - ssm:GetParameters
                Resource: !Sub "arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/naukribaba/*"
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:PutObject
                  - s3:GetObject
                Resource: "arn:aws:s3:::utkarsh-job-hunt/*"

  PlaywrightTaskDef:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: naukribaba-playwright
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      Cpu: '1024'
      Memory: '3072'
      ExecutionRoleArn: !GetAtt FargateExecutionRole.Arn
      TaskRoleArn: !GetAtt FargateTaskRole.Arn
      ContainerDefinitions:
        - Name: scraper
          Image: !Sub "${AWS::AccountId}.dkr.ecr.${AWS::Region}.amazonaws.com/naukribaba-playwright:latest"
          Essential: true
          Environment:
            - Name: SCRAPER_SOURCE
              Value: linkedin
            # PIPELINE_RUN_ID injected at runtime via Step Functions ContainerOverrides
          Secrets:
            - Name: SUPABASE_URL
              ValueFrom: !Sub "arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/naukribaba/SUPABASE_URL"
            - Name: SUPABASE_SERVICE_KEY
              ValueFrom: !Sub "arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/naukribaba/SUPABASE_SERVICE_KEY"
            - Name: PROXY_URL
              ValueFrom: !Sub "arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/naukribaba/PROXY_URL"
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: !Ref ScraperLogGroup
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: scraper

  # --- IAM Role for Step Functions ---
  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: naukribaba-stepfunctions-role
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambdas
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource:
                  - !GetAtt LoadConfigFunction.Arn
                  - !GetAtt ScrapeApifyFunction.Arn
                  - !GetAtt ScrapeAdzunaFunction.Arn
                  - !GetAtt ScrapeHNFunction.Arn
                  - !GetAtt ScrapeYCFunction.Arn
                  - !GetAtt ScrapeLinkedInFunction.Arn
                  - !GetAtt ScrapeIndeedFunction.Arn
                  - !GetAtt ScrapeGlassdoorFunction.Arn
                  - !GetAtt ScrapeIrishFunction.Arn
                  - !GetAtt ScrapeContactsFunction.Arn
                  - !GetAtt ScrapeGreenhouseFunction.Arn
                  - !GetAtt ScrapeAshbyFunction.Arn
                  - !GetAtt MergeDedupFunction.Arn
                  - !GetAtt ChunkHashesFunction.Arn
                  - !GetAtt ScoreBatchFunction.Arn
                  - !GetAtt AggregateScoresFunction.Arn
                  - !GetAtt TailorResumeFunction.Arn
                  - !GetAtt CompileLatexFunction.Arn
                  - !GetAtt GenerateCoverLetterFunction.Arn
                  - !GetAtt FindContactsFunction.Arn
                  - !GetAtt SaveJobFunction.Arn
                  - !GetAtt PostScoreFunction.Arn
                  - !GetAtt SaveMetricsFunction.Arn
                  - !GetAtt SendEmailFunction.Arn
                  - !GetAtt SelfImproveFunction.Arn
                  - !GetAtt NotifyErrorFunction.Arn
                  - !GetAtt CheckExpiryFunction.Arn
        - PolicyName: RunFargateTasks
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: ecs:RunTask
                Resource: !Ref PlaywrightTaskDef
              - Effect: Allow
                Action: ecs:StopTask
                Resource: !Sub "arn:aws:ecs:${AWS::Region}:${AWS::AccountId}:task/naukribaba-scrapers/*"
              - Effect: Allow
                Action:
                  - ecs:DescribeTasks
                  - ecs:StopTask
                Resource: "*"
                Condition:
                  ArnEquals:
                    ecs:cluster: !GetAtt ScraperCluster.Arn
              - Effect: Allow
                Action: iam:PassRole
                Resource:
                  - !GetAtt FargateExecutionRole.Arn
                  - !GetAtt FargateTaskRole.Arn
              - Effect: Allow
                Action:
                  - events:PutTargets
                  - events:PutRule
                  - events:DescribeRule
                Resource: !Sub "arn:aws:events:${AWS::Region}:${AWS::AccountId}:rule/StepFunctionsGetEventsForECSTaskRule"

  # --- Daily Pipeline State Machine ---
  # NOTE (2026-04-01): Jobs.ie, IrishJobs, and GradIreland have NO existing Apify actors.
  # They were dropped because custom scrapers timed out. Can be built as custom Apify actors later.
  DailyPipelineStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: naukribaba-daily-pipeline
      RoleArn: !GetAtt StepFunctionsRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "NaukriBaba Daily Pipeline: scrape → score → tailor → email",
          "StartAt": "LoadUserConfig",
          "States": {
            "LoadUserConfig": {
              "Type": "Task",
              "Resource": "${LoadConfigFunction.Arn}",
              "ResultPath": "$",
              "Next": "RunScrapers",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "NotifyError"}]
            },
            "RunScrapers": {
              "Type": "Parallel",
              "ResultPath": "$.scraper_results",
              "Next": "MergeAndDedup",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "NotifyError"}],
              "Branches": [
                {
                  "StartAt": "ScrapeLinkedIn",
                  "States": {
                    "ScrapeLinkedIn": {
                      "Type": "Task",
                      "Resource": "${ScrapeLinkedInFunction.Arn}",
                      "Parameters": {
                        "queries.$": "$.queries",
                        "location": "Ireland",
                        "query_hash.$": "$.query_hash",
                        "max_jobs": 50
                      },
                      "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 30, "MaxAttempts": 2, "BackoffRate": 2}],
                      "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "LinkedInFailed"}],
                      "End": true
                    },
                    "LinkedInFailed": {
                      "Type": "Pass",
                      "Result": {"count": 0, "source": "linkedin", "error": "scraper_failed"},
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "ScrapeIndeed",
                  "States": {
                    "ScrapeIndeed": {
                      "Type": "Task",
                      "Resource": "${ScrapeIndeedFunction.Arn}",
                      "Parameters": {
                        "queries.$": "$.queries",
                        "location": "Ireland",
                        "query_hash.$": "$.query_hash",
                        "max_jobs": 50
                      },
                      "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 30, "MaxAttempts": 2, "BackoffRate": 2}],
                      "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "IndeedFailed"}],
                      "End": true
                    },
                    "IndeedFailed": {
                      "Type": "Pass",
                      "Result": {"count": 0, "source": "indeed", "error": "scraper_failed"},
                      "End": true
                    }
                  }
                },
                {
                  "Comment": "Adzuna — DISABLED (only supports UK, user ineligible). Ireland not a supported country.",
                  "StartAt": "AdzunaSkipped",
                  "States": {
                    "AdzunaSkipped": {
                      "Type": "Pass",
                      "Result": {"count": 0, "source": "adzuna", "skipped": "uk_only_not_eligible"},
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "ScrapeHN",
                  "States": {
                    "ScrapeHN": {
                      "Type": "Task",
                      "Resource": "${ScrapeHNFunction.Arn}",
                      "Parameters": {
                        "query_hash.$": "$.query_hash"
                      },
                      "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 10, "MaxAttempts": 2, "BackoffRate": 2}],
                      "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "HNFailed"}],
                      "End": true
                    },
                    "HNFailed": {
                      "Type": "Pass",
                      "Result": {"count": 0, "source": "hn_hiring", "error": "scraper_failed"},
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "ScrapeYC",
                  "States": {
                    "ScrapeYC": {
                      "Type": "Task",
                      "Resource": "${ScrapeYCFunction.Arn}",
                      "Parameters": {
                        "queries.$": "$.queries",
                        "query_hash.$": "$.query_hash"
                      },
                      "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 10, "MaxAttempts": 2, "BackoffRate": 2}],
                      "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "YCFailed"}],
                      "End": true
                    },
                    "YCFailed": {
                      "Type": "Pass",
                      "Result": {"count": 0, "source": "yc", "error": "scraper_failed"},
                      "End": true
                    }
                  }
                },
                {
                  "Comment": "Glassdoor — DORMANT (needs Fargate infra). Returns 0 until enabled.",
                  "StartAt": "GlassdoorSkipped",
                  "States": {
                    "GlassdoorSkipped": {
                      "Type": "Pass",
                      "Result": {"count": 0, "source": "glassdoor", "skipped": "fargate_not_configured"},
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "ScrapeIrish",
                  "States": {
                    "ScrapeIrish": {
                      "Type": "Task",
                      "Resource": "${ScrapeIrishFunction.Arn}",
                      "Parameters": {
                        "queries.$": "$.queries",
                        "query_hash.$": "$.query_hash"
                      },
                      "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 10, "MaxAttempts": 2, "BackoffRate": 2}],
                      "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "IrishFailed"}],
                      "End": true
                    },
                    "IrishFailed": {
                      "Type": "Pass",
                      "Result": {"count": 0, "source": "irish_portals", "error": "scraper_failed"},
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "ScrapeGreenhouse",
                  "States": {
                    "ScrapeGreenhouse": {
                      "Type": "Task",
                      "Resource": "${ScrapeGreenhouseFunction.Arn}",
                      "Parameters": {
                        "query_hash.$": "$.query_hash"
                      },
                      "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 10, "MaxAttempts": 2, "BackoffRate": 2}],
                      "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "GreenhouseFailed"}],
                      "End": true
                    },
                    "GreenhouseFailed": {
                      "Type": "Pass",
                      "Result": {"count": 0, "source": "greenhouse", "error": "scraper_failed"},
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "ScrapeAshby",
                  "States": {
                    "ScrapeAshby": {
                      "Type": "Task",
                      "Resource": "${ScrapeAshbyFunction.Arn}",
                      "Parameters": {
                        "query_hash.$": "$.query_hash"
                      },
                      "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 10, "MaxAttempts": 2, "BackoffRate": 2}],
                      "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "AshbyFailed"}],
                      "End": true
                    },
                    "AshbyFailed": {
                      "Type": "Pass",
                      "Result": {"count": 0, "source": "ashby", "error": "scraper_failed"},
                      "End": true
                    }
                  }
                }
              ]
            },
            "MergeAndDedup": {
              "Type": "Task",
              "Resource": "${MergeDedupFunction.Arn}",
              "ResultPath": "$.dedup_result",
              "Next": "ChunkJobHashes",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "NotifyError"}]
            },
            "ChunkJobHashes": {
              "Type": "Task",
              "Resource": "${ChunkHashesFunction.Arn}",
              "Parameters": {
                "new_job_hashes.$": "$.dedup_result.new_job_hashes",
                "user_id.$": "$.user_id",
                "min_match_score.$": "$.min_match_score",
                "chunk_size": 15
              },
              "ResultPath": "$.chunks_result",
              "Next": "ScoreBatchMap",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "NotifyError"}]
            },
            "ScoreBatchMap": {
              "Type": "Map",
              "ItemsPath": "$.chunks_result.chunks",
              "MaxConcurrency": 8,
              "ResultPath": "$.score_chunks",
              "Next": "AggregateScores",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "NotifyError"}],
              "ItemProcessor": {
                "ProcessorConfig": { "Mode": "INLINE" },
                "StartAt": "ScoreChunk",
                "States": {
                  "ScoreChunk": {
                    "Type": "Task",
                    "Resource": "${ScoreBatchFunction.Arn}",
                    "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 30, "MaxAttempts": 1, "BackoffRate": 2}],
                    "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "ScoreChunkFailed"}],
                    "End": true
                  },
                  "ScoreChunkFailed": {
                    "Type": "Pass",
                    "Result": {"matched_items": [], "matched_count": 0, "skipped_count": 0, "error": "chunk_scoring_failed"},
                    "End": true
                  }
                }
              }
            },
            "AggregateScores": {
              "Type": "Task",
              "Resource": "${AggregateScoresFunction.Arn}",
              "Parameters": {
                "score_chunks.$": "$.score_chunks"
              },
              "ResultPath": "$.score_result",
              "Next": "ProcessMatchedJobs",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "NotifyError"}]
            },
            "ProcessMatchedJobs": {
              "Type": "Map",
              "ItemsPath": "$.score_result.matched_items",
              "MaxConcurrency": 8,
              "ResultPath": "$.processed_jobs",
              "Next": "PostScoreTailoredJobs",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "PostScoreTailoredJobs"}],
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "TailorResume",
                "States": {
                  "TailorResume": {
                    "Type": "Task",
                    "Resource": "${TailorResumeFunction.Arn}",
                    "ResultPath": "$.tailor_result",
                    "Next": "CompileResume",
                    "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 10, "MaxAttempts": 1, "BackoffRate": 2}],
                    "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "SaveJobAfterError"}]
                  },
                  "CompileResume": {
                    "Type": "Task",
                    "Resource": "${CompileLatexFunction.Arn}",
                    "Parameters": {
                      "tex_s3_key.$": "$.tailor_result.tex_s3_key",
                      "job_hash.$": "$.job_hash",
                      "user_id.$": "$.user_id",
                      "doc_type": "resume"
                    },
                    "ResultPath": "$.compile_result",
                    "Next": "ShouldGenerateCoverLetter",
                    "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "ShouldGenerateCoverLetter"}]
                  },
                  "ShouldGenerateCoverLetter": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Variable": "$.skip_cover_letter",
                        "BooleanEquals": true,
                        "Next": "ShouldFindContacts"
                      }
                    ],
                    "Default": "GenerateCoverLetter"
                  },
                  "GenerateCoverLetter": {
                    "Type": "Task",
                    "Resource": "${GenerateCoverLetterFunction.Arn}",
                    "Parameters": {
                      "job_hash.$": "$.job_hash",
                      "user_id.$": "$.user_id",
                      "light_touch.$": "$.light_touch"
                    },
                    "ResultPath": "$.cover_letter_result",
                    "Next": "CompileCoverLetter",
                    "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "ShouldFindContacts"}]
                  },
                  "CompileCoverLetter": {
                    "Type": "Task",
                    "Resource": "${CompileLatexFunction.Arn}",
                    "Parameters": {
                      "tex_s3_key.$": "$.cover_letter_result.tex_s3_key",
                      "job_hash.$": "$.job_hash",
                      "user_id.$": "$.user_id",
                      "doc_type": "cover_letter"
                    },
                    "ResultPath": "$.cover_compile_result",
                    "Next": "ShouldFindContacts",
                    "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "ShouldFindContacts"}]
                  },
                  "ShouldFindContacts": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Variable": "$.skip_contacts",
                        "BooleanEquals": true,
                        "Next": "SaveJob"
                      }
                    ],
                    "Default": "FindContacts"
                  },
                  "FindContacts": {
                    "Type": "Task",
                    "Resource": "${FindContactsFunction.Arn}",
                    "Parameters": {
                      "job_hash.$": "$.job_hash",
                      "user_id.$": "$.user_id",
                      "light_touch.$": "$.light_touch"
                    },
                    "ResultPath": "$.contacts_result",
                    "Next": "SaveJob",
                    "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "SaveJob"}]
                  },
                  "SaveJob": {
                    "Type": "Task",
                    "Resource": "${SaveJobFunction.Arn}",
                    "End": true,
                    "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "SaveJobAfterError"}]
                  },
                  "SaveJobAfterError": {
                    "Type": "Task",
                    "Resource": "${SaveJobFunction.Arn}",
                    "End": true
                  }
                }
              }
            },
            "PostScoreTailoredJobs": {
              "Type": "Map",
              "Comment": "Deferred post-tailor scoring — runs after all jobs saved, not in hot path",
              "ItemsPath": "$.score_result.matched_items",
              "MaxConcurrency": 5,
              "ResultPath": "$.post_score_results",
              "Next": "SavePipelineMetrics",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "SavePipelineMetrics"}],
              "ItemProcessor": {
                "ProcessorConfig": { "Mode": "INLINE" },
                "StartAt": "PostScoreJob",
                "States": {
                  "PostScoreJob": {
                    "Type": "Task",
                    "Resource": "${PostScoreFunction.Arn}",
                    "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "PostScoreFailed"}],
                    "End": true
                  },
                  "PostScoreFailed": {
                    "Type": "Pass",
                    "Result": {"scored": false, "reason": "post_score_failed"},
                    "End": true
                  }
                }
              }
            },
            "SavePipelineMetrics": {
              "Type": "Task",
              "Resource": "${SaveMetricsFunction.Arn}",
              "Parameters": {
                "user_id.$": "$.user_id",
                "scraper_results.$": "$.scraper_results",
                "score_result.$": "$.score_result",
                "dedup_result.$": "$.dedup_result"
              },
              "ResultPath": "$.metrics_saved",
              "Next": "SendEmailSummary",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "SendEmailSummary"}]
            },
            "SendEmailSummary": {
              "Type": "Task",
              "Resource": "${SendEmailFunction.Arn}",
              "Parameters": {
                "user_id.$": "$.user_id",
                "matched_count.$": "$.score_result.matched_count"
              },
              "ResultPath": "$.email_result",
              "Next": "SelfImprove",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "SelfImprove"}]
            },
            "SelfImprove": {
              "Type": "Task",
              "Resource": "${SelfImproveFunction.Arn}",
              "Parameters": {
                "user_id.$": "$.user_id",
                "execution_name.$": "$$.Execution.Name",
                "started_at.$": "$$.Execution.StartTime",
                "matched_count.$": "$.score_result.matched_count"
              },
              "End": true,
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "PipelineComplete"}]
            },
            "NotifyError": {
              "Type": "Task",
              "Resource": "${NotifyErrorFunction.Arn}",
              "Parameters": {
                "user_id.$": "$.user_id",
                "error.$": "$.error",
                "step": "pipeline"
              },
              "Next": "PipelineComplete"
            },
            "PipelineComplete": {
              "Type": "Succeed"
            }
          }
        }

  # --- Single-Job Pipeline State Machine ---
  SingleJobPipelineStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: naukribaba-single-job-pipeline
      RoleArn: !GetAtt StepFunctionsRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "NaukriBaba Single Job Pipeline: score → tailor → compile → save. Supports skip_scoring for re-tailoring existing jobs.",
          "StartAt": "CheckSkipScoring",
          "States": {
            "CheckSkipScoring": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.skip_scoring",
                  "BooleanEquals": true,
                  "Next": "SkipToTailor"
                }
              ],
              "Default": "ScoreSingleJob"
            },
            "SkipToTailor": {
              "Type": "Pass",
              "Parameters": {
                "job_hash.$": "$.job_hash",
                "user_id.$": "$.user_id",
                "light_touch": false,
                "tailoring_depth": "moderate"
              },
              "Next": "TailorResume"
            },
            "ScoreSingleJob": {
              "Type": "Task",
              "Resource": "${ScoreBatchFunction.Arn}",
              "Parameters": {
                "user_id.$": "$.user_id",
                "new_job_hashes.$": "States.Array($.job_hash)",
                "min_match_score": 0
              },
              "ResultPath": "$.score_result",
              "Next": "CheckScoreExists",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "JobFailed"}]
            },
            "CheckScoreExists": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.score_result.matched_count",
                  "NumericGreaterThan": 0,
                  "Next": "ExtractMatchedJob"
                }
              ],
              "Default": "JobFailed"
            },
            "ExtractMatchedJob": {
              "Type": "Pass",
              "Parameters": {
                "job_hash.$": "$.job_hash",
                "user_id.$": "$.user_id",
                "light_touch.$": "$.score_result.matched_items[0].light_touch"
              },
              "Next": "TailorResume"
            },
            "TailorResume": {
              "Type": "Task",
              "Resource": "${TailorResumeFunction.Arn}",
              "ResultPath": "$.tailor_result",
              "Next": "CompileResume",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "JobFailed"}]
            },
            "CompileResume": {
              "Type": "Task",
              "Resource": "${CompileLatexFunction.Arn}",
              "Parameters": {
                "tex_s3_key.$": "$.tailor_result.tex_s3_key",
                "job_hash.$": "$.job_hash",
                "user_id.$": "$.user_id",
                "doc_type": "resume"
              },
              "ResultPath": "$.compile_result",
              "Next": "GenerateCoverLetter",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "JobFailed"}]
            },
            "GenerateCoverLetter": {
              "Type": "Task",
              "Resource": "${GenerateCoverLetterFunction.Arn}",
              "Parameters": {
                "job_hash.$": "$.job_hash",
                "user_id.$": "$.user_id"
              },
              "ResultPath": "$.cover_letter_result",
              "Next": "CompileCoverLetter",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "SaveJobWithoutCL"}]
            },
            "CompileCoverLetter": {
              "Type": "Task",
              "Resource": "${CompileLatexFunction.Arn}",
              "Parameters": {
                "tex_s3_key.$": "$.cover_letter_result.tex_s3_key",
                "job_hash.$": "$.job_hash",
                "user_id.$": "$.user_id",
                "doc_type": "cover_letter"
              },
              "ResultPath": "$.cover_compile_result",
              "Next": "FindContacts",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "SaveJobWithoutCL"}]
            },
            "FindContacts": {
              "Type": "Task",
              "Resource": "${FindContactsFunction.Arn}",
              "Parameters": {
                "job_hash.$": "$.job_hash",
                "user_id.$": "$.user_id"
              },
              "ResultPath": "$.contacts_result",
              "Next": "SaveJobComplete",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "SaveJobComplete"}]
            },
            "SaveJobComplete": {
              "Type": "Task",
              "Resource": "${SaveJobFunction.Arn}",
              "End": true
            },
            "SaveJobWithoutCL": {
              "Type": "Task",
              "Resource": "${SaveJobFunction.Arn}",
              "End": true
            },
            "JobFailed": {
              "Type": "Fail",
              "Error": "JobProcessingFailed",
              "Cause": "Failed to process job"
            }
          }
        }

  # --- EventBridge Schedule Rules ---
  DailyPipelineSchedule:
    Type: AWS::Events::Rule
    Properties:
      Name: naukribaba-daily-pipeline-schedule
      Description: Run daily pipeline on weekdays at 7:00 UTC
      ScheduleExpression: "cron(0 7 ? * MON-FRI *)"
      State: ENABLED
      Targets:
        - Arn: !GetAtt DailyPipelineStateMachine.Arn
          Id: DailyPipelineTarget
          RoleArn: !GetAtt EventBridgeRole.Arn
          Input: '{"user_id": "default"}'

  ExpiryCheckSchedule:
    Type: AWS::Events::Rule
    Properties:
      Name: naukribaba-expiry-check
      Description: Check job expiry weekly on Sundays at 6:00 UTC
      ScheduleExpression: "cron(0 6 ? * SUN *)"
      State: ENABLED
      Targets:
        - Arn: !GetAtt CheckExpiryFunction.Arn
          Id: ExpiryCheckTarget

  EventBridgeRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: naukribaba-eventbridge-role
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StartStepFunctions
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource:
                  - !GetAtt DailyPipelineStateMachine.Arn

  ExpiryCheckPermission:
    Type: AWS::Lambda::Permission
    DependsOn: ExpiryCheckSchedule
    Properties:
      FunctionName: !Ref CheckExpiryFunction
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceArn: !Sub arn:${AWS::Partition}:events:${AWS::Region}:${AWS::AccountId}:rule/naukribaba-expiry-check

  StaleNudgeSchedule:
    Type: AWS::Events::Rule
    Properties:
      Name: naukribaba-stale-nudge
      Description: Weekly stale job nudges (Monday 9:00 UTC)
      ScheduleExpression: "cron(0 9 ? * MON *)"
      State: ENABLED
      Targets:
        - Arn: !GetAtt StaleNudgeFunction.Arn
          Id: StaleNudgeTarget

  StaleNudgePermission:
    Type: AWS::Lambda::Permission
    DependsOn: StaleNudgeSchedule
    Properties:
      FunctionName: !Ref StaleNudgeFunction
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceArn: !Sub arn:${AWS::Partition}:events:${AWS::Region}:${AWS::AccountId}:rule/naukribaba-stale-nudge

  FollowUpSchedule:
    Type: AWS::Events::Rule
    Properties:
      Name: naukribaba-followup-reminder
      Description: Daily follow-up reminders (10:00 UTC weekdays)
      ScheduleExpression: "cron(0 10 ? * MON-FRI *)"
      State: ENABLED
      Targets:
        - Arn: !GetAtt FollowUpReminderFunction.Arn
          Id: FollowUpTarget

  FollowUpPermission:
    Type: AWS::Lambda::Permission
    DependsOn: FollowUpSchedule
    Properties:
      FunctionName: !Ref FollowUpReminderFunction
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceArn: !Sub arn:${AWS::Partition}:events:${AWS::Region}:${AWS::AccountId}:rule/naukribaba-followup-reminder

  # --- Lambda Function (Docker container with tectonic) ---
  JobHuntApi:
    Type: AWS::Serverless::Function
    Properties:
      PackageType: Image
      Description: Job Hunt FastAPI backend with LaTeX (tectonic) support
      Policies:
        - SQSSendMessagePolicy:
            QueueName: !GetAtt TaskQueue.QueueName
        - SQSPollerPolicy:
            QueueName: !GetAtt TaskQueue.QueueName
        - S3CrudPolicy:
            BucketName: utkarsh-job-hunt
        - StepFunctionsExecutionPolicy:
            StateMachineName: !GetAtt DailyPipelineStateMachine.Name
        - StepFunctionsExecutionPolicy:
            StateMachineName: !GetAtt SingleJobPipelineStateMachine.Name
      Environment:
        Variables:
          GROQ_API_KEY: !Ref GroqApiKey
          OPENROUTER_API_KEY: !Ref OpenRouterApiKey
          QWEN_API_KEY: !Ref QwenApiKey
          NVIDIA_API_KEY: !Ref NvidiaApiKey
          GOOGLE_CREDENTIALS_JSON: !Ref GoogleCredentialsJson
          SUPABASE_URL: !Ref SupabaseUrl
          SUPABASE_SERVICE_KEY: !Ref SupabaseServiceKey
          SUPABASE_JWT_SECRET: !Ref SupabaseJwtSecret
          SERPER_API_KEY: !Ref SerperApiKey
          APIFY_API_KEY: !Ref ApifyApiKey
          TASK_QUEUE_URL: !Ref TaskQueue
          DAILY_PIPELINE_ARN: !GetAtt DailyPipelineStateMachine.Arn
          SINGLE_JOB_PIPELINE_ARN: !GetAtt SingleJobPipelineStateMachine.Arn
      Events:
        ApiGateway:
          Type: HttpApi
          Properties:
            ApiId: !Ref HttpApi
            Path: /{proxy+}
            Method: ANY
        TaskWorker:
          Type: SQS
          Properties:
            Queue: !GetAtt TaskQueue.Arn
            BatchSize: 1
            FunctionResponseTypes:
              - ReportBatchItemFailures
    Metadata:
      DockerTag: latest
      DockerContext: .
      Dockerfile: Dockerfile.lambda

  # --- HTTP API Gateway ---
  HttpApi:
    Type: AWS::Serverless::HttpApi
    Properties:
      StageName: prod
      CorsConfiguration:
        AllowOrigins:
          - "https://naukribaba.netlify.app"
          - "http://localhost:5173"
        AllowMethods:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
          - OPTIONS
        AllowHeaders:
          - "*"
        AllowCredentials: true

  # --- S3 Bucket for Frontend ---
  FrontendBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "${AWS::StackName}-frontend"
      WebsiteConfiguration:
        IndexDocument: index.html
      PublicAccessBlockConfiguration:
        BlockPublicAcls: false
        BlockPublicPolicy: false
        IgnorePublicAcls: false
        RestrictPublicBuckets: false

  FrontendBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref FrontendBucket
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: PublicRead
            Effect: Allow
            Principal: "*"
            Action: s3:GetObject
            Resource: !Sub "${FrontendBucket.Arn}/*"

  # =========================================================================
  #  Auto-Apply: Cloud Browser Infrastructure
  # =========================================================================

  # --- DynamoDB Session Table ---
  BrowserSessionsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: naukribaba-browser-sessions
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: session_id
          AttributeType: S
        - AttributeName: user_id
          AttributeType: S
      KeySchema:
        - AttributeName: session_id
          KeyType: HASH
      GlobalSecondaryIndexes:
        - IndexName: user-sessions-index
          KeySchema:
            - AttributeName: user_id
              KeyType: HASH
          Projection:
            ProjectionType: ALL
      TimeToLiveSpecification:
        AttributeName: ttl
        Enabled: true

  # --- WebSocket API Gateway ---
  BrowserWebSocketApi:
    Type: AWS::ApiGatewayV2::Api
    Properties:
      Name: naukribaba-browser-ws
      ProtocolType: WEBSOCKET
      RouteSelectionExpression: "$request.body.action"

  ConnectRoute:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref BrowserWebSocketApi
      RouteKey: $connect
      AuthorizationType: NONE
      Target: !Sub "integrations/${ConnectIntegration}"

  DisconnectRoute:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref BrowserWebSocketApi
      RouteKey: $disconnect
      Target: !Sub "integrations/${DisconnectIntegration}"

  DefaultRoute:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref BrowserWebSocketApi
      RouteKey: $default
      Target: !Sub "integrations/${DefaultIntegration}"

  ConnectIntegration:
    Type: AWS::ApiGatewayV2::Integration
    Properties:
      ApiId: !Ref BrowserWebSocketApi
      IntegrationType: AWS_PROXY
      IntegrationUri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${WsConnectFunction.Arn}/invocations"

  DisconnectIntegration:
    Type: AWS::ApiGatewayV2::Integration
    Properties:
      ApiId: !Ref BrowserWebSocketApi
      IntegrationType: AWS_PROXY
      IntegrationUri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${WsDisconnectFunction.Arn}/invocations"

  DefaultIntegration:
    Type: AWS::ApiGatewayV2::Integration
    Properties:
      ApiId: !Ref BrowserWebSocketApi
      IntegrationType: AWS_PROXY
      IntegrationUri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${WsRouteFunction.Arn}/invocations"

  BrowserWsStage:
    Type: AWS::ApiGatewayV2::Stage
    Properties:
      ApiId: !Ref BrowserWebSocketApi
      StageName: prod
      AutoDeploy: true
      DefaultRouteSettings:
        LoggingLevel: ERROR
        DataTraceEnabled: false

  # --- WebSocket Lambda Functions (defined BEFORE permissions) ---
  WsConnectFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-ws-connect
      CodeUri: lambdas/browser/
      Handler: ws_connect.handler
      Runtime: python3.11
      Timeout: 10
      MemorySize: 128
      Environment:
        Variables:
          SESSIONS_TABLE: !Ref BrowserSessionsTable
          SUPABASE_URL: !Ref SupabaseUrl
          SUPABASE_JWT_SECRET: !Ref SupabaseJwtSecret
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref BrowserSessionsTable

  WsDisconnectFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-ws-disconnect
      CodeUri: lambdas/browser/
      Handler: ws_disconnect.handler
      Runtime: python3.11
      Timeout: 10
      MemorySize: 128
      Environment:
        Variables:
          SESSIONS_TABLE: !Ref BrowserSessionsTable
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref BrowserSessionsTable

  WsRouteFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-ws-route
      CodeUri: lambdas/browser/
      Handler: ws_route.handler
      Runtime: python3.11
      Timeout: 5
      MemorySize: 128
      Environment:
        Variables:
          SESSIONS_TABLE: !Ref BrowserSessionsTable
          WEBSOCKET_API_ID: !Ref BrowserWebSocketApi
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref BrowserSessionsTable
        - Statement:
            - Effect: Allow
              Action: execute-api:ManageConnections
              Resource: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${BrowserWebSocketApi}/*"

  # --- WebSocket Lambda Permissions (AFTER function definitions) ---
  WsConnectPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref WsConnectFunction
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${BrowserWebSocketApi}/*/$connect"

  WsDisconnectPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref WsDisconnectFunction
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${BrowserWebSocketApi}/*/$disconnect"

  WsRoutePermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref WsRouteFunction
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${BrowserWebSocketApi}/*/$default"

  # --- Browser Session Fargate ---
  BrowserLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /ecs/naukribaba-browser
      RetentionInDays: 14

  BrowserTaskRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: ecs-tasks.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: BrowserSessionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                Resource:
                  - "arn:aws:s3:::utkarsh-job-hunt/sessions/*"
                  - "arn:aws:s3:::utkarsh-job-hunt/confirmations/*"
              - Effect: Allow
                Action: execute-api:ManageConnections
                Resource: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${BrowserWebSocketApi}/*"
              - Effect: Allow
                Action:
                  - dynamodb:GetItem
                  - dynamodb:UpdateItem
                Resource: !GetAtt BrowserSessionsTable.Arn

  BrowserSessionTaskDef:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: naukribaba-browser-session
      RequiresCompatibilities: [FARGATE]
      Cpu: '1024'
      Memory: '3072'
      NetworkMode: awsvpc
      ExecutionRoleArn: !GetAtt FargateExecutionRole.Arn
      TaskRoleArn: !GetAtt BrowserTaskRole.Arn
      ContainerDefinitions:
        - Name: browser
          Image: !Sub "${AWS::AccountId}.dkr.ecr.${AWS::Region}.amazonaws.com/naukribaba-browser:latest"
          Essential: true
          Environment:
            - Name: AWS_REGION
              Value: !Ref AWS::Region
            - Name: S3_BUCKET
              Value: utkarsh-job-hunt
            - Name: WEBSOCKET_URL
              Value: !Sub "wss://${BrowserWebSocketApi}.execute-api.${AWS::Region}.amazonaws.com/prod"
            - Name: SUPABASE_URL
              Value: !Ref SupabaseUrl
            - Name: SUPABASE_SERVICE_KEY
              Value: !Ref SupabaseServiceKey
            - Name: CAPSOLVER_API_KEY
              Value: !Ref CapSolverApiKey
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: !Ref BrowserLogGroup
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: browser

Outputs:
  ApiUrl:
    Description: API Gateway URL
    Value: !Sub "https://${HttpApi}.execute-api.${AWS::Region}.amazonaws.com/prod"
  FrontendUrl:
    Description: Frontend S3 website URL
    Value: !GetAtt FrontendBucket.WebsiteURL
  TaskQueueUrl:
    Description: SQS Task Queue URL
    Value: !Ref TaskQueue
  TaskDLQUrl:
    Description: SQS Dead Letter Queue URL
    Value: !Ref TaskDLQ
  DailyPipelineArn:
    Description: Daily pipeline state machine ARN
    Value: !GetAtt DailyPipelineStateMachine.Arn
  SingleJobPipelineArn:
    Description: Single job pipeline state machine ARN
    Value: !GetAtt SingleJobPipelineStateMachine.Arn
  BrowserWebSocketUrl:
    Description: WebSocket API URL for browser streaming
    Value: !Sub "wss://${BrowserWebSocketApi}.execute-api.${AWS::Region}.amazonaws.com/prod"
  BrowserSessionsTableName:
    Description: DynamoDB table for browser sessions
    Value: !Ref BrowserSessionsTable
  BrowserTaskDefArn:
    Description: Fargate task definition for browser sessions
    Value: !Ref BrowserSessionTaskDef
