template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: Job Hunt API — FastAPI on Lambda (container image with tectonic)

Globals:
  Function:
    Timeout: 900
    MemorySize: 1024

Parameters:
  GroqApiKey:
    Type: String
    NoEcho: true
  OpenRouterApiKey:
    Type: String
    NoEcho: true
  QwenApiKey:
    Type: String
    NoEcho: true
    Default: ""
  NvidiaApiKey:
    Type: String
    NoEcho: true
    Default: ""
  GoogleCredentialsJson:
    Type: String
    NoEcho: true
  SupabaseUrl:
    Type: String
  SupabaseServiceKey:
    Type: String
    NoEcho: true
  SupabaseJwtSecret:
    Type: String
    NoEcho: true
  SerperApiKey:
    Type: String
    NoEcho: true
    Default: ""
  ApifyApiKey:
    Type: String
    NoEcho: true
    Default: ""

Resources:

  # --- SQS Task Queue ---
  TaskQueue:
    Type: AWS::SQS::Queue
    Properties:
      VisibilityTimeout: 5400
      MessageRetentionPeriod: 86400
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt TaskDLQ.Arn
        maxReceiveCount: 3

  # --- SQS Dead Letter Queue ---
  TaskDLQ:
    Type: AWS::SQS::Queue
    Properties:
      MessageRetentionPeriod: 1209600

  # --- Lambda Layer (Shared Python Dependencies) ---
  SharedDepsLayer:
    Type: AWS::Serverless::LayerVersion
    Properties:
      LayerName: naukribaba-shared-deps
      ContentUri: layer/
      CompatibleRuntimes:
        - python3.11
    Metadata:
      BuildMethod: python3.11

  # --- Scraper Lambda Functions ---
  ScrapeApifyFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-scrape-apify
      Handler: lambdas/scrapers/scrape_apify.handler
      Runtime: python3.11
      Timeout: 300
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: /naukribaba/*

  ScrapeAdzunaFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-scrape-adzuna
      Handler: lambdas/scrapers/scrape_adzuna.handler
      Runtime: python3.11
      Timeout: 30
      MemorySize: 128
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: /naukribaba/*

  ScrapeHNFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-scrape-hn
      Handler: lambdas/scrapers/scrape_hn.handler
      Runtime: python3.11
      Timeout: 60
      MemorySize: 128
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: /naukribaba/*

  ScrapeYCFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-scrape-yc
      Handler: lambdas/scrapers/scrape_yc.handler
      Runtime: python3.11
      Timeout: 30
      MemorySize: 128
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: /naukribaba/*

  # --- Pipeline Lambda Functions ---
  LoadConfigFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-load-config
      Handler: lambdas/pipeline/load_config.handler
      Runtime: python3.11
      Timeout: 30
      MemorySize: 128
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: /naukribaba/*

  MergeDedupFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-merge-dedup
      Handler: lambdas/pipeline/merge_dedup.handler
      Runtime: python3.11
      Timeout: 30
      MemorySize: 128
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: /naukribaba/*

  ScoreBatchFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-score-batch
      Handler: lambdas/pipeline/score_batch.handler
      Runtime: python3.11
      Timeout: 300
      MemorySize: 512
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: /naukribaba/*

  TailorResumeFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-tailor-resume
      Handler: lambdas/pipeline/tailor_resume.handler
      Runtime: python3.11
      Timeout: 120
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: /naukribaba/*
        - S3CrudPolicy:
            BucketName: utkarsh-job-hunt

  CompileLatexFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-compile-latex
      Handler: lambdas/pipeline/compile_latex.handler
      Runtime: python3.11
      Timeout: 60
      MemorySize: 512
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - S3CrudPolicy:
            BucketName: utkarsh-job-hunt

  GenerateCoverLetterFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-generate-cover-letter
      Handler: lambdas/pipeline/generate_cover_letter.handler
      Runtime: python3.11
      Timeout: 120
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: /naukribaba/*
        - S3CrudPolicy:
            BucketName: utkarsh-job-hunt

  FindContactsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-find-contacts
      Handler: lambdas/pipeline/find_contacts.handler
      Runtime: python3.11
      Timeout: 120
      MemorySize: 128
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: /naukribaba/*

  SaveJobFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-save-job
      Handler: lambdas/pipeline/save_job.handler
      Runtime: python3.11
      Timeout: 30
      MemorySize: 128
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: /naukribaba/*
        - S3CrudPolicy:
            BucketName: utkarsh-job-hunt

  SaveMetricsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-save-metrics
      Handler: lambdas/pipeline/save_metrics.handler
      Runtime: python3.11
      Timeout: 30
      MemorySize: 128
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: /naukribaba/*

  SendEmailFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-send-email
      Handler: lambdas/pipeline/send_email.handler
      Runtime: python3.11
      Timeout: 30
      MemorySize: 128
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: /naukribaba/*

  SelfImproveFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-self-improve
      Handler: lambdas/pipeline/self_improve.handler
      Runtime: python3.11
      Timeout: 120
      MemorySize: 256
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: /naukribaba/*
        - LambdaInvokePolicy:
            FunctionName: naukribaba-notify-error

  NotifyErrorFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-notify-error
      Handler: lambdas/pipeline/notify_error.handler
      Runtime: python3.11
      Timeout: 30
      MemorySize: 128
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: /naukribaba/*

  CheckExpiryFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: naukribaba-check-expiry
      Handler: lambdas/pipeline/check_expiry.handler
      Runtime: python3.11
      Timeout: 120
      MemorySize: 128
      Layers: [!Ref SharedDepsLayer]
      Policies:
        - SSMParameterReadPolicy:
            ParameterName: /naukribaba/*

  # --- IAM Role for Step Functions ---
  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: naukribaba-stepfunctions-role
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambdas
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource:
                  - !GetAtt LoadConfigFunction.Arn
                  - !GetAtt ScrapeApifyFunction.Arn
                  - !GetAtt ScrapeAdzunaFunction.Arn
                  - !GetAtt ScrapeHNFunction.Arn
                  - !GetAtt ScrapeYCFunction.Arn
                  - !GetAtt MergeDedupFunction.Arn
                  - !GetAtt ScoreBatchFunction.Arn
                  - !GetAtt TailorResumeFunction.Arn
                  - !GetAtt CompileLatexFunction.Arn
                  - !GetAtt GenerateCoverLetterFunction.Arn
                  - !GetAtt FindContactsFunction.Arn
                  - !GetAtt SaveJobFunction.Arn
                  - !GetAtt SaveMetricsFunction.Arn
                  - !GetAtt SendEmailFunction.Arn
                  - !GetAtt SelfImproveFunction.Arn
                  - !GetAtt NotifyErrorFunction.Arn
                  - !GetAtt CheckExpiryFunction.Arn

  # --- Daily Pipeline State Machine ---
  DailyPipelineStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: naukribaba-daily-pipeline
      RoleArn: !GetAtt StepFunctionsRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "NaukriBaba Daily Pipeline: scrape → score → tailor → email",
          "StartAt": "LoadUserConfig",
          "States": {
            "LoadUserConfig": {
              "Type": "Task",
              "Resource": "${LoadConfigFunction.Arn}",
              "ResultPath": "$",
              "Next": "RunScrapers",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "NotifyError"}]
            },
            "RunScrapers": {
              "Type": "Parallel",
              "ResultPath": "$.scraper_results",
              "Next": "MergeAndDedup",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "NotifyError"}],
              "Branches": [
                {
                  "StartAt": "ScrapeLinkedIn",
                  "States": {
                    "ScrapeLinkedIn": {
                      "Type": "Task",
                      "Resource": "${ScrapeApifyFunction.Arn}",
                      "Parameters": {
                        "actor_id": "hMvNSpz3JnHgl5jkh",
                        "source": "linkedin",
                        "normalizer": "linkedin",
                        "query_hash.$": "$.query_hash",
                        "run_input": {
                          "searchUrl.$": "States.Format('https://www.linkedin.com/jobs/search/?keywords={}&location=Ireland', $.queries[0])",
                          "maxItems": 50
                        }
                      },
                      "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 30, "MaxAttempts": 2, "BackoffRate": 2}],
                      "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "LinkedInFailed"}],
                      "End": true
                    },
                    "LinkedInFailed": {
                      "Type": "Pass",
                      "Result": {"count": 0, "source": "linkedin", "error": "scraper_failed"},
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "ScrapeIndeed",
                  "States": {
                    "ScrapeIndeed": {
                      "Type": "Task",
                      "Resource": "${ScrapeApifyFunction.Arn}",
                      "Parameters": {
                        "actor_id": "misceres/indeed-scraper",
                        "source": "indeed",
                        "normalizer": "indeed",
                        "query_hash.$": "$.query_hash",
                        "run_input": {
                          "position.$": "$.queries[0]",
                          "country": "IE",
                          "maxItems": 50
                        }
                      },
                      "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 30, "MaxAttempts": 2, "BackoffRate": 2}],
                      "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "IndeedFailed"}],
                      "End": true
                    },
                    "IndeedFailed": {
                      "Type": "Pass",
                      "Result": {"count": 0, "source": "indeed", "error": "scraper_failed"},
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "ScrapeGlassdoor",
                  "States": {
                    "ScrapeGlassdoor": {
                      "Type": "Task",
                      "Resource": "${ScrapeApifyFunction.Arn}",
                      "Parameters": {
                        "actor_id": "bebity/glassdoor-scraper",
                        "source": "glassdoor",
                        "normalizer": "glassdoor",
                        "query_hash.$": "$.query_hash",
                        "run_input": {
                          "searchUrl.$": "States.Format('https://www.glassdoor.com/Job/ireland-{}-jobs-SRCH_IL.0,7_IN104_KO8,25.htm', $.queries[0])",
                          "maxItems": 50
                        }
                      },
                      "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 30, "MaxAttempts": 2, "BackoffRate": 2}],
                      "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "GlassdoorFailed"}],
                      "End": true
                    },
                    "GlassdoorFailed": {
                      "Type": "Pass",
                      "Result": {"count": 0, "source": "glassdoor", "error": "scraper_failed"},
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "ScrapeAdzuna",
                  "States": {
                    "ScrapeAdzuna": {
                      "Type": "Task",
                      "Resource": "${ScrapeAdzunaFunction.Arn}",
                      "Parameters": {
                        "queries.$": "$.queries",
                        "query_hash.$": "$.query_hash"
                      },
                      "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 10, "MaxAttempts": 2, "BackoffRate": 2}],
                      "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "AdzunaFailed"}],
                      "End": true
                    },
                    "AdzunaFailed": {
                      "Type": "Pass",
                      "Result": {"count": 0, "source": "adzuna", "error": "scraper_failed"},
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "ScrapeHN",
                  "States": {
                    "ScrapeHN": {
                      "Type": "Task",
                      "Resource": "${ScrapeHNFunction.Arn}",
                      "Parameters": {
                        "query_hash.$": "$.query_hash"
                      },
                      "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 10, "MaxAttempts": 2, "BackoffRate": 2}],
                      "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "HNFailed"}],
                      "End": true
                    },
                    "HNFailed": {
                      "Type": "Pass",
                      "Result": {"count": 0, "source": "hn_hiring", "error": "scraper_failed"},
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "ScrapeYC",
                  "States": {
                    "ScrapeYC": {
                      "Type": "Task",
                      "Resource": "${ScrapeYCFunction.Arn}",
                      "Parameters": {
                        "queries.$": "$.queries",
                        "query_hash.$": "$.query_hash"
                      },
                      "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 10, "MaxAttempts": 2, "BackoffRate": 2}],
                      "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "YCFailed"}],
                      "End": true
                    },
                    "YCFailed": {
                      "Type": "Pass",
                      "Result": {"count": 0, "source": "yc", "error": "scraper_failed"},
                      "End": true
                    }
                  }
                }
              ]
            },
            "MergeAndDedup": {
              "Type": "Task",
              "Resource": "${MergeDedupFunction.Arn}",
              "ResultPath": "$.dedup_result",
              "Next": "ScoreBatch",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "NotifyError"}]
            },
            "ScoreBatch": {
              "Type": "Task",
              "Resource": "${ScoreBatchFunction.Arn}",
              "Parameters": {
                "user_id.$": "$.user_id",
                "new_job_hashes.$": "$.dedup_result.new_job_hashes",
                "min_match_score.$": "$.min_match_score"
              },
              "ResultPath": "$.score_result",
              "Next": "ProcessMatchedJobs",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "NotifyError"}]
            },
            "ProcessMatchedJobs": {
              "Type": "Map",
              "ItemsPath": "$.score_result.matched_items",
              "MaxConcurrency": 3,
              "ResultPath": "$.processed_jobs",
              "Next": "SavePipelineMetrics",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "SavePipelineMetrics"}],
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "TailorResume",
                "States": {
                  "TailorResume": {
                    "Type": "Task",
                    "Resource": "${TailorResumeFunction.Arn}",
                    "ResultPath": "$.tailor_result",
                    "Next": "CompileResume",
                    "Retry": [{"ErrorEquals": ["States.ALL"], "IntervalSeconds": 10, "MaxAttempts": 1, "BackoffRate": 2}],
                    "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "SaveJobAfterError"}]
                  },
                  "CompileResume": {
                    "Type": "Task",
                    "Resource": "${CompileLatexFunction.Arn}",
                    "Parameters": {
                      "tex_s3_key.$": "$.tailor_result.tex_s3_key",
                      "job_hash.$": "$.job_hash",
                      "user_id.$": "$.user_id",
                      "doc_type": "resume"
                    },
                    "ResultPath": "$.compile_result",
                    "Next": "GenerateCoverLetter",
                    "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "FindContacts"}]
                  },
                  "GenerateCoverLetter": {
                    "Type": "Task",
                    "Resource": "${GenerateCoverLetterFunction.Arn}",
                    "Parameters": {
                      "job_hash.$": "$.job_hash",
                      "user_id.$": "$.user_id"
                    },
                    "ResultPath": "$.cover_letter_result",
                    "Next": "CompileCoverLetter",
                    "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "FindContacts"}]
                  },
                  "CompileCoverLetter": {
                    "Type": "Task",
                    "Resource": "${CompileLatexFunction.Arn}",
                    "Parameters": {
                      "tex_s3_key.$": "$.cover_letter_result.tex_s3_key",
                      "job_hash.$": "$.job_hash",
                      "user_id.$": "$.user_id",
                      "doc_type": "cover_letter"
                    },
                    "ResultPath": "$.cover_compile_result",
                    "Next": "FindContacts",
                    "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "FindContacts"}]
                  },
                  "FindContacts": {
                    "Type": "Task",
                    "Resource": "${FindContactsFunction.Arn}",
                    "Parameters": {
                      "job_hash.$": "$.job_hash",
                      "user_id.$": "$.user_id"
                    },
                    "ResultPath": "$.contacts_result",
                    "Next": "SaveJob",
                    "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "SaveJob"}]
                  },
                  "SaveJob": {
                    "Type": "Task",
                    "Resource": "${SaveJobFunction.Arn}",
                    "Parameters": {
                      "job_hash.$": "$.job_hash",
                      "user_id.$": "$.user_id",
                      "resume_pdf_s3_key.$": "$.compile_result.pdf_s3_key",
                      "cover_letter_pdf_s3_key.$": "$.cover_compile_result.pdf_s3_key"
                    },
                    "End": true,
                    "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "SaveJobAfterError"}]
                  },
                  "SaveJobAfterError": {
                    "Type": "Task",
                    "Resource": "${SaveJobFunction.Arn}",
                    "Parameters": {
                      "job_hash.$": "$.job_hash",
                      "user_id.$": "$.user_id"
                    },
                    "End": true
                  }
                }
              }
            },
            "SavePipelineMetrics": {
              "Type": "Task",
              "Resource": "${SaveMetricsFunction.Arn}",
              "Parameters": {
                "user_id.$": "$.user_id",
                "scraper_results.$": "$.scraper_results"
              },
              "ResultPath": "$.metrics_saved",
              "Next": "SendEmailSummary",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "SendEmailSummary"}]
            },
            "SendEmailSummary": {
              "Type": "Task",
              "Resource": "${SendEmailFunction.Arn}",
              "Parameters": {
                "user_id.$": "$.user_id",
                "matched_count.$": "$.score_result.matched_count"
              },
              "ResultPath": "$.email_result",
              "Next": "SelfImprove",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "SelfImprove"}]
            },
            "SelfImprove": {
              "Type": "Task",
              "Resource": "${SelfImproveFunction.Arn}",
              "Parameters": {
                "user_id.$": "$.user_id"
              },
              "End": true,
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "PipelineComplete"}]
            },
            "NotifyError": {
              "Type": "Task",
              "Resource": "${NotifyErrorFunction.Arn}",
              "Parameters": {
                "user_id.$": "$.user_id",
                "error.$": "$.error",
                "step": "pipeline"
              },
              "Next": "PipelineComplete"
            },
            "PipelineComplete": {
              "Type": "Succeed"
            }
          }
        }

  # --- Single-Job Pipeline State Machine ---
  SingleJobPipelineStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: naukribaba-single-job-pipeline
      RoleArn: !GetAtt StepFunctionsRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "NaukriBaba Single Job Pipeline: score → tailor → compile → save",
          "StartAt": "ScoreSingleJob",
          "States": {
            "ScoreSingleJob": {
              "Type": "Task",
              "Resource": "${ScoreBatchFunction.Arn}",
              "Parameters": {
                "user_id.$": "$.user_id",
                "new_job_hashes.$": "States.Array($.job_hash)",
                "min_match_score": 0
              },
              "ResultPath": "$.score_result",
              "Next": "CheckScoreExists",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "JobFailed"}]
            },
            "CheckScoreExists": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.score_result.matched_count",
                  "NumericGreaterThan": 0,
                  "Next": "ExtractMatchedJob"
                }
              ],
              "Default": "JobFailed"
            },
            "ExtractMatchedJob": {
              "Type": "Pass",
              "Parameters": {
                "job_hash.$": "$.job_hash",
                "user_id.$": "$.user_id",
                "light_touch.$": "$.score_result.matched_items[0].light_touch"
              },
              "Next": "TailorResume"
            },
            "TailorResume": {
              "Type": "Task",
              "Resource": "${TailorResumeFunction.Arn}",
              "ResultPath": "$.tailor_result",
              "Next": "CompileResume",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "JobFailed"}]
            },
            "CompileResume": {
              "Type": "Task",
              "Resource": "${CompileLatexFunction.Arn}",
              "Parameters": {
                "tex_s3_key.$": "$.tailor_result.tex_s3_key",
                "job_hash.$": "$.job_hash",
                "user_id.$": "$.user_id",
                "doc_type": "resume"
              },
              "ResultPath": "$.compile_result",
              "Next": "GenerateCoverLetter",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "JobFailed"}]
            },
            "GenerateCoverLetter": {
              "Type": "Task",
              "Resource": "${GenerateCoverLetterFunction.Arn}",
              "Parameters": {
                "job_hash.$": "$.job_hash",
                "user_id.$": "$.user_id"
              },
              "ResultPath": "$.cover_letter_result",
              "Next": "CompileCoverLetter",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "SaveJobWithoutCL"}]
            },
            "CompileCoverLetter": {
              "Type": "Task",
              "Resource": "${CompileLatexFunction.Arn}",
              "Parameters": {
                "tex_s3_key.$": "$.cover_letter_result.tex_s3_key",
                "job_hash.$": "$.job_hash",
                "user_id.$": "$.user_id",
                "doc_type": "cover_letter"
              },
              "ResultPath": "$.cover_compile_result",
              "Next": "FindContacts",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "SaveJobWithoutCL"}]
            },
            "FindContacts": {
              "Type": "Task",
              "Resource": "${FindContactsFunction.Arn}",
              "Parameters": {
                "job_hash.$": "$.job_hash",
                "user_id.$": "$.user_id"
              },
              "ResultPath": "$.contacts_result",
              "Next": "SaveJobComplete",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "SaveJobComplete"}]
            },
            "SaveJobComplete": {
              "Type": "Task",
              "Resource": "${SaveJobFunction.Arn}",
              "Parameters": {
                "job_hash.$": "$.job_hash",
                "user_id.$": "$.user_id",
                "resume_pdf_s3_key.$": "$.compile_result.pdf_s3_key",
                "cover_letter_pdf_s3_key.$": "$.cover_compile_result.pdf_s3_key"
              },
              "End": true
            },
            "SaveJobWithoutCL": {
              "Type": "Task",
              "Resource": "${SaveJobFunction.Arn}",
              "Parameters": {
                "job_hash.$": "$.job_hash",
                "user_id.$": "$.user_id",
                "resume_pdf_s3_key.$": "$.compile_result.pdf_s3_key"
              },
              "End": true
            },
            "JobFailed": {
              "Type": "Fail",
              "Error": "JobProcessingFailed",
              "Cause": "Failed to process job"
            }
          }
        }

  # --- EventBridge Schedule Rules ---
  DailyPipelineSchedule:
    Type: AWS::Events::Rule
    Properties:
      Name: naukribaba-daily-pipeline-schedule
      Description: Run daily pipeline on weekdays at 7:00 UTC
      ScheduleExpression: "cron(0 7 ? * MON-FRI *)"
      State: DISABLED
      Targets:
        - Arn: !GetAtt DailyPipelineStateMachine.Arn
          Id: DailyPipelineTarget
          RoleArn: !GetAtt EventBridgeRole.Arn
          Input: '{"user_id": "default"}'

  ExpiryCheckSchedule:
    Type: AWS::Events::Rule
    Properties:
      Name: naukribaba-expiry-check
      Description: Check job expiry weekly on Sundays at 6:00 UTC
      ScheduleExpression: "cron(0 6 ? * SUN *)"
      State: DISABLED
      Targets:
        - Arn: !GetAtt CheckExpiryFunction.Arn
          Id: ExpiryCheckTarget

  EventBridgeRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: naukribaba-eventbridge-role
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StartStepFunctions
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource:
                  - !GetAtt DailyPipelineStateMachine.Arn

  ExpiryCheckPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref CheckExpiryFunction
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceArn: !GetAtt ExpiryCheckSchedule.Arn

  # --- Lambda Function (Docker container with tectonic) ---
  JobHuntApi:
    Type: AWS::Serverless::Function
    Properties:
      PackageType: Image
      Description: Job Hunt FastAPI backend with LaTeX (tectonic) support
      Policies:
        - SQSSendMessagePolicy:
            QueueName: !GetAtt TaskQueue.QueueName
        - SQSPollerPolicy:
            QueueName: !GetAtt TaskQueue.QueueName
        - S3CrudPolicy:
            BucketName: utkarsh-job-hunt
      Environment:
        Variables:
          GROQ_API_KEY: !Ref GroqApiKey
          OPENROUTER_API_KEY: !Ref OpenRouterApiKey
          QWEN_API_KEY: !Ref QwenApiKey
          NVIDIA_API_KEY: !Ref NvidiaApiKey
          GOOGLE_CREDENTIALS_JSON: !Ref GoogleCredentialsJson
          SUPABASE_URL: !Ref SupabaseUrl
          SUPABASE_SERVICE_KEY: !Ref SupabaseServiceKey
          SUPABASE_JWT_SECRET: !Ref SupabaseJwtSecret
          SERPER_API_KEY: !Ref SerperApiKey
          APIFY_API_KEY: !Ref ApifyApiKey
          TASK_QUEUE_URL: !Ref TaskQueue
      Events:
        ApiGateway:
          Type: HttpApi
          Properties:
            ApiId: !Ref HttpApi
            Path: /{proxy+}
            Method: ANY
        TaskWorker:
          Type: SQS
          Properties:
            Queue: !GetAtt TaskQueue.Arn
            BatchSize: 1
            FunctionResponseTypes:
              - ReportBatchItemFailures
    Metadata:
      DockerTag: latest
      DockerContext: .
      Dockerfile: Dockerfile.lambda

  # --- HTTP API Gateway ---
  HttpApi:
    Type: AWS::Serverless::HttpApi
    Properties:
      StageName: prod
      CorsConfiguration:
        AllowOrigins:
          - "https://naukribaba.netlify.app"
          - "http://localhost:5173"
        AllowMethods:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
          - OPTIONS
        AllowHeaders:
          - "*"
        AllowCredentials: true

  # --- S3 Bucket for Frontend ---
  FrontendBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "${AWS::StackName}-frontend"
      WebsiteConfiguration:
        IndexDocument: index.html
      PublicAccessBlockConfiguration:
        BlockPublicAcls: false
        BlockPublicPolicy: false
        IgnorePublicAcls: false
        RestrictPublicBuckets: false

  FrontendBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref FrontendBucket
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: PublicRead
            Effect: Allow
            Principal: "*"
            Action: s3:GetObject
            Resource: !Sub "${FrontendBucket.Arn}/*"

Outputs:
  ApiUrl:
    Description: API Gateway URL
    Value: !Sub "https://${HttpApi}.execute-api.${AWS::Region}.amazonaws.com/prod"
  FrontendUrl:
    Description: Frontend S3 website URL
    Value: !GetAtt FrontendBucket.WebsiteURL
  TaskQueueUrl:
    Description: SQS Task Queue URL
    Value: !Ref TaskQueue
  TaskDLQUrl:
    Description: SQS Dead Letter Queue URL
    Value: !Ref TaskDLQ
  DailyPipelineArn:
    Description: Daily pipeline state machine ARN
    Value: !GetAtt DailyPipelineStateMachine.Arn
  SingleJobPipelineArn:
    Description: Single job pipeline state machine ARN
    Value: !GetAtt SingleJobPipelineStateMachine.Arn
